@import '../color';
@import "../panel";

.standard-tileset {
  position: relative;
  width: 304px;
  height: 160px;

  border: 1px solid $color4;
  background-color: $color1;
  box-shadow: rgb(0, 0, 0) 0 0 5px 1px;
  cursor: pointer;
}

.tile-sprite {
  display: inline-block;
  position: relative;

  padding: 0;
  margin-bottom: -4px;
  margin-right: -4px;

  background-color: black;
}

#palette-panel-tab {
  position: absolute;
  left: 0;
}

#objects-panel-tab {
  position: absolute;
  left: $panelWidth;
}

#right-panel {
  .side-panel-contents {
    width: calc(#{$panelWidth} * 2);
  }
}
