@import '../color';
@import "../ui";

.standard-tileset {
  position: relative;
  width: 304px;
  height: 160px;

  border: 1px solid $color4;
  background-color: $color1;
  box-shadow: rgb(0, 0, 0) 0 0 5px 1px;
  cursor: pointer;
}
