@import '../color';
@import 'section_element';

.ui-image-editor {
  position: relative;

  .pane {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    // Keep this at an even px count to have no half-pixel projection, causing canvases to be
    //   blurry.
    width: 2px;
    height: 2px;
    transform: translate(-50%, -50%);

    background-color: transparent;
    touch-action: none;
    -webkit-user-drag: none;
    pointer-events: none;

    .pane-cursor {
      position: absolute;
      width: 1px;
      height: 1px;
      touch-action: none;
      -webkit-user-drag: none;
      pointer-events: none;
      background-color: transparent;

      .view {
        position: relative;
        display: inline-block;
        touch-action: none;
        -webkit-user-drag: none;
        pointer-events: none;

        box-shadow: 0 0 1px 1px $color8;
      }

      .draw {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
      }
    }
  }

  .brush {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    pointer-events: none;
    touch-action: none;
    -webkit-user-drag: none;
  }
}

.image-editor-toolbar {
  background-color: $color3;
  top: 0 !important;
  left: 0 !important;
  width: 24px !important;

  .tool {
    width: 24px !important;
    height: 24px !important;

    i {
      font-size: 14px !important;
    }
  }
}
