@import '../color';

.ui-inner-window.maximized {
  top: 50%;
  left: 50%;
  width: floor(100%);
  height: floor(100%);

  .window-title {
    cursor: default;

    &:hover, &:active {
      cursor: default;
    }
  }
}

.ui-inner-window.maximized.translucent-on-unfocus {
  opacity: 1 !important;
  transition: opacity 0s !important;
}

.ui-inner-window.translucent-on-unfocus {
  opacity: 0.75;
  transition: opacity 200ms ease-in;

  &:hover, &:active {
    opacity: 1;
    transition: opacity 0s;
  }
}

.ui-inner-window {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .resize-pane {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background-color: transparent;
    cursor: default;
  }

  .window-title {
    display: block;
    width: 100%;
    height: 24px;
    user-select: none;
    background-color: $color4;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    label {
      display: inline-block;
      margin-left: 5px;
      line-height: 24px;
      color: #eee;
      font-size: 12px;
      pointer-events: none;
      user-select: none;
    }

    .window-title-buttons {
      position: relative;
      float: right;
      height: 100%;
      cursor: default;

      .window-title-button {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        line-height: 5px;
        cursor: pointer;
        background-color: $color4;

        i {
          position: absolute;
          display: inline-block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          pointer-events: none;
          touch-action: none;
          -webkit-user-drag: none;
          color: $color8;
          transition: color 200ms;
        }

        transition: color 200ms, background-color 200ms;

        &:hover {
          background-color: $color5;
          transition: color 0ms, background-color 0ms;

          i {
            color: $color6;
            transition: color 200ms;
          }
        }

        &:active {
          i {
            color: $color7;
            transition: color 0ms;
          }
        }
      }

      .window-title-close-button {
        i {
          color: $color8;
          transition: color 200ms;
        }

        &:hover {
          background-color: #b00000;

          i {
            color: white;
          }
        }

        &:active {
          i {
            color: black;
          }
        }
      }
    }
  }

  .menu-bar {
    position: relative;
    width: calc(100% - 12px);
    height: 19px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 18px;
    background-color: $color4;
    border-top: 1px solid $color3;
    user-select: none;
    -webkit-user-drag: none;

    .menu-separator {
      display: inline-block;
      position: relative;
      top: calc(50% - 1px);
      width: 3px;
      height: 12px;
      margin-right: 5px;
      transform: translateY(-50%);

      background-color: transparent;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);

      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 1px;
        content: '';
        width: 1px;
        height: 12px;
        background-color: $color8;
      }
    }

    .icon-menu {
      display: inline-block;
      width: 14px;
      height: 12px;
      margin: 0 5px 0 0;
      padding: 0;
      border: 1px black;
      font-size: 12px;
      -webkit-user-drag: none;
      cursor: pointer;

      i {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color8;
        pointer-events: none;
        user-select: none;
        -webkit-user-drag: none;

        transition: color 200ms;
      }

      &:hover {
        i {
          color: $color6;
        }
      }

      &:active {
        i {
          color: $color9;
          transition: color 0ms;
        }
      }
    }

    .icon-menu.disabled {
      pointer-events: none;

      i {
        color: $color5;
        transition: color 200ms;
      }
    }

    .icon-menu.active {
      i {
        color: $color9;
        transition: color 0ms;
      }
    }
  }

  .content {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: calc(100% - 32px - 24px);
    padding: 16px;
    background-color: $color3;
    overflow: hidden;
    touch-action: none;
    -webkit-user-drag: none;

    .ui-panel {
      top: 2px;
      height: calc(100% - 3px);
    }
  }
}

.shadow-outline-outer {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
}

.shadow-outline-inner {
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .5);
}
