@import 'color';

$panelTime: 200ms;
$panelWidth: 320px;

.side-panel {

  z-index: 2;
  display: inline-block;
  position: relative;
  left: 0;
  top: 1px;
  width: 0;
  height: 100%;

  margin-top: -1px;
  background-color: $color4;
  transition: all $panelTime;

  overflow-x: hidden;
  overflow-y: hidden;

  .side-panel-contents {

    position: relative;
    height: 100%;

    overflow-x: hidden;
    transition: left 200ms;

  }
}

.side-panel.left {
}

.side-panel.right {
}

.panel-tab {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: $panelWidth;
  height: 100%;
  z-index: 1;
}

.panel-tab.open {
  z-index: 2;
}
