@import 'color';

$panelTime: 200ms;
$panelWidth: 320px;

.side-panel {

  z-index: 2;
  display: inline-block;
  top: 1px;
  width: 0;
  height: 100%;

  margin-top: -1px;
  background-color: $color4;
  transition: all $panelTime;

  .side-panel-contents {

    display: inline-block;
    position: relative;
    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
    transition: left 200ms;

  }
}

.side-panel.left {
  position: absolute;
  left: 0;
  right: unset;
}

.side-panel.right {
  position: absolute;
  left: unset;
  right: 0;
}

.panel-tab {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: $panelWidth;
  height: 100%;
  z-index: 1;

  overflow-y: auto;
}

.panel-tab.open {
  z-index: 2;
}

.side-panel {

  .tab-menu.left {
    position: absolute;
    top: 100%;
    left: -25px;
    width: 2048px;

    transform: rotate(-90deg);
    transform-origin: left top 0;
  }

  .tab-menu.right {
    position: absolute;
    top: -1px;
    left: calc(100% + 25px);
    width: 2048px;

    transform: rotate(90deg);
    transform-origin: left top 0;
  }
}

.overflow-container {
  transition: max-width $panelTime;
}

.side-panel.open {
  .overflow-container {
    max-width: unset;
  }
}

.side-panel {
  .overflow-container {
    max-width: 0;
  }
}

