@import 'palette';

.section {
  display: block;

  .header {
    width: 100%;
    height: 24px;
    padding: 0;

    user-select: none;

    background-color: $color4;

    .arrow {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 -6px 0 0;
      padding: 0;

      user-select: none;
      cursor: pointer;

      transform-origin: 50% 50%;

      label {
        position: relative;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 12px;
        font-weight: bold;
      }
    }

    .title {
      display: inline-block;

      user-select: none;
    }

    label {
      display: inline-block;
      color: $color7;
      font-size: 12px;
      line-height: 25px;
      pointer-events: none;
      margin: 0;
      padding: 0;

      user-select: none;
    }
  }

  .content-frame {

    display: block;

    padding: 0;
    max-height: 0;
    overflow: hidden;
    background-color: $color3;
    transition: max-height 0.2s ease-out;

    .contents {
      padding: 7px;
    }
  }
}

.section {
  .header {
    .arrow label {
      &:after {
        content: '►';
      }
    }
  }
}

.section.open {
  .header {
    .arrow label {
      &:after {
        content: '▼';
      }
    }
  }
}
