@import 'color';

#tile-editor {
  display: none;
  touch-action: none;
  -webkit-user-drag: none;

  .content {
    position: relative;
    min-width: 800px;
    min-height: 600px;
    touch-action: none;
    -webkit-user-drag: none;

    .canvas-pane-container {
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      transform: translate(-50%, -50%);
      overflow: hidden;
      background-color: $color1;
      cursor: move;
      touch-action: none;
      -webkit-user-drag: none;

      #tile-editor-brush {
        position: absolute;
        display: inline-block;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
      }

      #tile-editor-view-draw {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
      }

      .container-box-shadow {
        position: absolute;
        z-index: 6;
        top: 0;
        left: 32px;
        width: calc(100% - 64px);
        height: 100%;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
      }

      .ui-icon-toolbar {
        background-color: $color2;
      }

      .canvas-pane {
        z-index: -1;
        position: absolute;
        width: 1px;
        height: 1px;
        touch-action: none;
        -webkit-user-drag: none;

        canvas {
          z-index: -1;
          position: relative;
          display: inline-block;
          touch-action: none;
          -webkit-user-drag: none;
        }
      }
    }

  }
}
