@import 'color';

#tileset-editor {
  display: none;
  position: absolute;

  width: 336px;
  height: 360px;

  background-color: $color3;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);

  .canvas-container {
    display: inline-block;
  }

  #tileset-editor-view {
    display: inline-block;
    position: relative;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
  }

  #tileset-editor-selection-view {
    display: inline-block;
    position: absolute;
    top: 192px;
    left: 16px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
  }

  .button-container.vertical {
    display: inline-block;
    position: absolute;
    top: 192px;
    left: 224px;

    .button {
      display: block;
      width: 96px;
      height: 24px;
      user-select: none;
      background-color: $color4;
      padding: 0;
      margin-bottom: 2px;

      text-align: center;
      cursor: pointer;

      border: 1px solid $color1;

      label {
        display: inline-block;
        margin-left: 5px;
        line-height: 25px;
        color: #eee;
        font-size: 12px;
        pointer-events: none;
        user-select: none;
      }

      &:hover {
        background-color: $color5;
        border: 1px solid $color3;
      }
    }
  }
}
