@import 'color';

$panelTime: 200ms;
$panelWidth: 320px;

.ui-tab-menu {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;

  font-size: 11px;
  line-height: 25px;

  -webkit-user-drag: none;

  .ui-tab {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: 22px;

    padding: 0 8px;
    overflow: hidden;

    margin: 0 2px;

    border-bottom: 2px solid transparent;
    box-shadow: 0 0 2px 2px transparent;

    transition: border-bottom-color 200ms, box-shadow 200ms, background-color 200ms;

    cursor: pointer;
    -webkit-user-drag: none;
    font-weight: normal;
    font-stretch: expanded;

    &:hover {
      border-bottom-color: $color7;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
      background-color: $color4;
      transition: unset;
    }

    label {
      user-select: none;
      text-shadow: black;
      pointer-events: none;
      -webkit-user-drag: none;
    }
  }

  .ui-tab.selected {
    border-bottom-color: $color6 !important;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: $color4;
  }
}

.ui-tab-menu.top {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;

}

.ui-panel.half {
  height: 50%;
}

.ui-panel.top-half {
  top: 1px;
  bottom: unset;
}

.ui-panel.bottom-half {
  top: unset;
  bottom: 1px;
}

.ui-panel {
  z-index: 2;
  display: inline-block;
  top: 1px;
  width: 0;
  height: 100%;

  margin-top: -1px;
  background-color: $color4;
  transition: all $panelTime;

  .ui-panel-contents {
    display: inline-block;
    position: relative;
    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
    transition: left 200ms;
  }

  .ui-tab-menu.left {
    position: absolute;
    top: 100%;
    left: -24px;
    width: 965px;
    float: right;

    transform: rotate(-90deg);
    transform-origin: left top 0;

    .ui-tab {
      float: right;
    }
  }

  .ui-tab-menu.right {
    position: absolute;
    top: 0;
    left: calc(100% + 24px);
    width: 2048px;

    transform: rotate(90deg);
    transform-origin: left top 0;
  }
}

.ui-panel-tab {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: $panelWidth;
  height: 100%;
  z-index: 1;

  overflow-y: auto;
}

.ui-panel-tab.open {
  z-index: 2;
}

.ui-panel.left {
  position: absolute;
  left: 0;
  right: unset;
}

.ui-panel.right {
  position: absolute;
  left: unset;
  right: 0;
}

.ui-panel-overflow-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  transition: max-width $panelTime, max-height $panelTime;
}

.ui-panel.left.open, .ui-panel.right.open {
  .ui-panel-overflow-container {
    max-width: unset;
  }
}

.ui-panel.left, .ui-panel.right {
  .ui-panel-overflow-container {
    max-width: 0;
  }
}

.ui-panel.top.open, .ui-panel.bottom.open {
  .ui-panel-overflow-container {
    max-height: unset;
  }
}

.ui-panel.top, .ui-panel.bottom {
  .ui-panel-overflow-container {
    max-height: 0;
  }
}

.ui-panel-section {
  display: block;

  .header {
    width: 100%;
    height: 24px;
    padding: 0;

    user-select: none;
    background-color: $color4;

    .arrow {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 -6px 0 0;
      padding: 0;

      user-select: none;
      cursor: pointer;
      transform-origin: 50% 50%;

      label {
        position: relative;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 12px;
        font-weight: bold;
      }
    }

    .title {
      display: inline-block;

      user-select: none;
      cursor: pointer;
    }

    label {
      display: inline-block;
      color: $color7;
      font-size: 12px;
      line-height: 25px;
      pointer-events: none;
      margin: 0;
      padding: 0;

      user-select: none;
    }
  }

  .content-frame {
    display: block;

    padding: 0;
    max-height: 0;
    overflow: hidden;
    background-color: $color3;
    transition: max-height 0.2s ease-out;

    .contents {
      padding: 7px;

      canvas {
        margin-bottom: -3px;
      }
    }
  }
}

.ui-icon-toolbar {
  z-index: 4;

  background-color: $color1;

  .tool {
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;

    margin-bottom: -3px;
    margin-right: -3px;

    border-radius: 3px;

    transition: background-color 200ms, border-color 200ms, box-shadow 200ms;


    .fas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 2px 1px rgb(0, 0, 0);
      color: $color8;
      transition: color 200ms;
    }

    .ui-tooltip {
      z-index: 2;
      position: absolute;
      font-size: 12px;
      background-color: $color3;
    }

    &:hover {
      background-color: $color3;
      border-color: $color8;
      box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
      transition: background-color 0s, border-color 0s, box-shadow 0s;

      .fas {
        color: $color7;
        transition: color 0s;
      }
    }
  }

  .tool.selected {
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: $color4;
    border-color: $color8;

    .fas {
      color: $color9;
      text-shadow: 2px 1px rgb(0, 0, 0);
    }
  }

}

$tooltip_border_color: $color8;

.ui-icon-toolbar.left {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 100%;

  .tool {
    .ui-tooltip {
      z-index: -1;
      opacity: 0;

      top: 50%;
      left: calc(100% - 8px);
      height: 14px;
      padding: 2px 4px 2px 2px;
      transform: translateY(-50%);

      border-top: 1px solid $tooltip_border_color;
      border-bottom: 1px solid $tooltip_border_color;
      border-right: 1px solid $tooltip_border_color;
      border-left: 1px solid transparent;

      transition: opacity 200ms, left 200ms;

      label {
        z-index: 1;
      }

      .ui-tooltip {
        transition-delay: 0s;
      }

      &:before {
        z-index: -1;
        position: absolute;
        left: -7px;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);

        background-color: $color3;

        border-left: 1px solid $tooltip_border_color;
        border-bottom: 1px solid $tooltip_border_color;

        content: '';
      }
    }

    &:hover {
      .ui-tooltip {
        opacity: 1;
        left: calc(100% + 12px);

        transition: opacity 100ms, left 100ms;
        transition-delay: 500ms;
      }
    }
  }
}

.ui-icon-toolbar.medium {
  .tool {
    .fas {
      font-size: 18px;
    }
  }
}

.ui-layer-container {
  position: relative;
  padding: 7px;

  .ui-layer-spacer {
    display: block;
    width: calc(100% - 2px);
    height: 1px;

    background-color: $color2;
  }

  .ui-layer {
    display: block;
    width: calc(100% - 2px);
    height: 24px;

    background-color: $color4;
    border: 1px solid $color4;
    border-bottom-color: $color2;

    line-height: 26px;

    transition: border-color 300ms;

    &:hover {

      background-color: $color5;
      border-color: $color4;

      .title {
        color: $color7;
      }

      transition: unset;
    }

    .visibility-icon {
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;

      overflow-x: hidden;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: $color8;
        pointer-events: none;
        user-select: none;
        font-size: 15px;

        transition: opacity 100ms;
      }
    }

    .grip-icon {
      float: right;
      position: relative;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;

      cursor: n-resize;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        pointer-events: none;
        user-select: none;
        font-size: 12px;

        color: $color8;
        transition: color 100ms;
      }
    }

    .title {
      position: relative;
      top: -7px;
      margin-left: 2px;

      color: $color8;
      font-size: 12px;
      font-weight: bold;

      user-select: none;
      pointer-events: none;
    }

    .children {
      display: block;
      position: relative;
      width: 100%;
    }
  }

  .ui-layer.selected {
    background-color: $color5;
    border-color: $color4;

    .title {
      color: $color9;
    }
  }
}


