@import 'palette';
@import "default";
@import 'frame';
@import 'tab';
@import 'viewport';

#map-viewer-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  #viewport {

    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;

    left: 24px;

    border: 1px solid $color5;
  }
}

#editor-left-tab-menu {
  top: 100%;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
